extends layout

block content
    .container
        include ./includes/messages.pug
        .row
            .col-md-8
                h1 Let's chat 
                #chatWindow.well.pre-scrollable
                form#chatForm
                    .form-group
                        textarea#chatInput.form-control.send_on_enter(name="body", placeholder="Say something...")
                        br
                        br
            .col-md-4
              h3 Users Online
                ul#userList.list-group.well