extends layout

block content
    .container
        include ./includes/messages.pug
        .row
            .col-md-8
                h1 Let's chat 
                form#chatForm
                    .form-group
                        textarea#chatInput.form-control(name="body", placeholder="Say something...")
                        br
                        button.btn.btn-default(type="submit") Post
                        br
                        br
            .col-md-4
                h3 Users Online
                    #users
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/main.js")